* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #ff868e;
  border: none;
  font-weight: 500;
  border-radius: 10px;
}
button:hover {
  background-color: #fbe0dc;
  cursor: pointer;
}
button:hover svg path {
  fill: #fff;
}

.textButton {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 40px;
  padding: 5px 20px;
  background-color: #ff868e;
  color: #fff;
  letter-spacing: 2px;
}
.smallButton {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.smallButton:hover {
  background-color: #ff868e;
}
.smallButton:hover {
  fill: #fff;
}

input[type='text']::placeholder {
  font-size: 2rem;
  color: #8c8c8c;
}
input[type='text'] {
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .app {
    flex-direction: column;
    height: auto;
  }
}
