.rightContainer {
  width: 50vw;
  height: 100%;
  padding: 30px 30px 30px 65px;
  box-sizing: border-box;
  overflow: auto;
}
.rightContent {
  border-radius: 20px;
  background-color: #fbe0dc;
  display: flex;
  justify-content: center;
  height: 100%;
}

.rightContent > img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .rightContainer {
    width: 100%;
  }
}
