.rightGalleryContent {
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.rightGalleryContent .buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.dropDowns {
  background-color: #f8f8f7;
  border-radius: 20px;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px;

  gap: 30px 20px;
  margin-bottom: 10px;
}
