.uploaderContent {
  border-radius: 20px;
  padding: 20px;
  background-color: #f8f8f7;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  position: relative;
  z-index: 1;

  height: 100%;
  box-sizing: border-box;
}
.uploaderContent a {
  text-decoration: none;
  color: #ff868e;
}
.uploaderContent p {
  color: #8c8c8c;
}
.uploaderContent h1 {
  font-size: 3.6rem;
  font-weight: 500;
}
.uploaderContent strong {
  color: #1d1d1d;
}
.uploaderContent .uploadButton {
  background-color: #ff868e;
  color: #fff;
  font-size: 1.2rem;
  margin: auto;
}
.uploadZone {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  border: 4px dashed #fbe0dc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.uploadZone p {
  position: absolute;
  z-index: 1;
}
.uploadZone img {
  position: absolute;
  z-index: 0;
}
.uploadResult {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
