#emotions {
  display: flex;
}

#emotions:nth-child(n) button {
  border: 4px solid #fff;
  padding: 15px;
}
/* #emotions:nth-child(n) svg path {
  fill: #fff;
} */
#like {
  background-color: #97eab9;
  border-radius: 20px 0 0 20px;
  border-right: 0 !important;
}
#like:hover {
  background-color: #e0f9ea;
}
#like:hover svg path {
  fill: #97eab9;
}
.fav {
  background-color: #ff868e;
  border-radius: 0;
}
.favHover:hover {
  background-color: #ffdbdd;
}

.favHover:hover svg path {
  fill: #ff868e;
}
#dislike {
  background-color: #ffd280;
  border-radius: 0 20px 20px 0px;
  border-left: 0 !important;
}
#dislike:hover {
  background-color: #fff2d9;
}
#dislike:hover svg path {
  fill: #ffd280;
}
